.dnd5e.sheet.item.iws {
  min-height: auto;
}
.dnd5e.sheet.item.iws .form-group label:first-child {
  flex: 1;
}
.items-with-spells-warnings {
  flex: 1 0 auto !important;
}
.items-with-spells-5e .item-detail {
  text-align: center;
  font-size: 12px;
}
.sheet .items-with-spells-5e .items-list .item-controls {
	padding-left: .25rem;
	flex-basis: 4rem;
}
.items-with-spells-5e .iws-hint:hover {
  text-shadow: 0 0 6px white;
}
.items-with-spells-5e .iws-hint {
  cursor: help;
  font-size: var(--font-size-10);
  margin: 0 5px 3px;
}
.items-with-spells-5e .inventory-element .inventory-list {
  padding: 0;
}
.items-with-spell-filler {
  text-align: center;
  padding: 8px;
}
.items-with-spells-5e .items-header > .flexrow {
  align-items: center;
}

/* normal sheets */
.dnd5e .items-with-spells-5e .item .item-name.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.dnd5e .items-with-spells-5e .items-list .items-header.item-list h3.item-name {
  padding-left: 0;
}
.dnd5e .items-with-spells-5e .items-header h3 .iws-h3 {
	padding-left: 5px;
}

/* for the tidy5e sheet */
.tidy5e-sheet .items-with-spells-5e .items-list .items-header.item-list h3.item-name {
  padding-left: 0;
}
.tidy5e-sheet .items-with-spells-5e .items-header h3 .iws-h3 {
	padding-left: 0.125rem;
}
.tidy5e-sheet .items-with-spells-5e .items-list .items-header.item-list .item-header {
	border: unset;
}
.tidy5e-sheet .items-with-spells-5e .items-header .flexrow {
  padding: 0 0.125rem;
}

/* fix Unidentified box display on Tidy 5e Sheets */
.tidy5e-sheet .items-with-spells-5e {
  position: relative;
  margin: 0 .25rem 0 -0.5rem /* strange offset in classic sheets */
}
.tidy5e-sheet .items-with-spells-5e .unidentified-notice {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: start center;
}
.tidy5e-sheet .items-with-spells-5e .unidentified-notice > div {
  margin-block-start: 4rem;
  margin-inline: auto;
  padding: 2rem;
  border: .0625rem solid var(--t5e-separator-color);
  border-radius: .25rem;
  box-shadow: 0 0 .75rem #00000073;
  background: var(--t5e-background);
  text-align: center;
}
.tidy5e-sheet .items-with-spells-5e .unidentified-notice > div strong {
  font-size: 1.5rem;
}